<?xml version="1.0"?>
<launch>

<node name="simulation" pkg ="ExperimentalRoboticsLab" type="simulation" output="log" /> 
<node name="goToPoint" pkg ="ExperimentalRoboticsLab" type="go_to_point.py" output="log" />

<!--include file="$(dirname)/investigation.launch">
</include-->
<!--node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ></node-->



<!--ROSPlan-->
<!--include file="$(dirname)/rosplan.launch">
</include-->
</launch>
