<?xml version="1.0"?>
<launch>

  <!-- Load the rooms, people and weapons for initialization-->
	 
   <node name="fsm" pkg="ExperimentalRoboticsLab" type ="fsm.py" output="screen"/>
   
   <node name="navigation" pkg="ExperimentalRoboticsLab" type="navigation.py" output="screen"/>

   <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>

   <node name="oracle" pkg="ExperimentalRoboticsLab" type="oracle.py" output="screen"/>

   <node name="investigation" pkg="ExperimentalRoboticsLab" type="investigation.py" output="screen"/>

   <node name="random_place" pkg="ExperimentalRoboticsLab" type="random_place.py" output="screen"/>
   
</launch>