<?xml version="1.0"?>
<launch>

<!--node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/-->

<node name="investigation" pkg="ExperimentalRoboticsLab" type="investigation.py" output="screen"/>
<node name="reasoner" pkg="ExperimentalRoboticsLab" type="reasoner.py" output="screen"/>
</launch>